 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
           
            <div class="row">
                <div class="col-md-2 text-center portrait">
                    <img style="width:250px" src="img/portrait.png">
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                     <h1>About</h1>
                    <p class="text-left"> I'm finishing a double major in Statistics and Operations Research with a minor in CS this year. In the fall I'll begin a one-year MS in Industrial Engineering and Operations Research at UC Berkeley. 

                    </p>
                    <a href="/img/Abigail_Chaver_Resume.pdf" class="btn btn-lg btn-outline btn-resume">
                         See Resume
                    </a>

                </div>
            </div>
        </div>
    </section>