 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
           
            <div class="row">
                <div class="col-md-2 text-center portrait">
                    <img style="width:250px" src="img/portrait.png">
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                     <h1>About</h1>
                    <p class="text-left"> I study Operations Research at UC Berkeley, so I spend most of my time in class building mathematical models of business problems. And I love design, so I spend my time outside of class creating interfaces to solve them. I'm excited to combine my quantitative and creative skills as a product designer when I graduate.</p>
                    <a href="/img/Abigail_Chaver_Resume.pdf" class="btn btn-lg btn-outline btn-resume">
                         See Resume
                    </a>

                </div>
            </div>
        </div>
    </section>