 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
           
            <div class="row">
                <div class="col-md-2 text-center portrait">
                    <img style="width:250px" src="img/portrait.png">
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                     <h1>About</h1>
                    <p class="text-left"> 
                        I am an MS candidate in Industrial Engineering and Operations Research at UC Berkeley, graduating in Spring 2018. 

                        I also attended UC Berkeley for undergrad, completing a triple major in Operations Research, Statistics, and Computer Science.
                    </p>
                    <a href="/img/Abigail_Chaver_Resume.pdf" class="btn btn-lg btn-outline btn-resume">
                         See Resume
                    </a>

                </div>
            </div>
        </div>
    </section>